@font-face {
    font-family: 'Frankito Sans';
    src: url('fonts/frankito_sans.woff2') format('woff2');
}
@font-face {
    font-family: 'Frankito Sans Outline';
    src: url('fonts/frankito_sans_outline.otf') format('opentype');
}
@font-face {
    font-family: 'Maxx Medium';
    src: url('fonts/maxxmedium.woff') format('woff');
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Maxx Medium";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 600px;
    margin: 0 auto;
}

header {
    height: 170px;
    display: flex;
    align-items: center;
    background-color: #335C67;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #335C67;
    margin: 0;
    height: 50px;
    position:-webkit-sticky; position:sticky; top:0;
    padding-top: 5px;
    border-top: 3px #FFF3B0 solid;
    z-index: 1;
}

ul {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

ul li {
    display: inline-block;
    margin-left: 50px;
    font-size: 20px;
    text-align: left;
}

ul li:first-child {
    margin-left: 0px;
}


ul li a {
    text-decoration: none;
    color: #FFF3B0;
    padding: 4px 10px;
    background: linear-gradient(to right, #FFF3B0 49%, #335C67 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.2s ease;
}

ul li a:hover,
ul li a:focus {
    color: #335C67;
    cursor: pointer;
    background-position:left bottom;
}


main {
    padding: 40px 0px 0px 0px;
    background-color: #FFF3B0;
    flex-grow: 1;
}

footer {
    text-align: center;
    background-color: #E09F3E;
    height: 100px;
    display: flex;
    align-items: center;
    color: #FFF3B0;
    font-size: 12px;
    margin-top: auto;
}

h1 {
    margin: 0;
    margin-left: 10px;
    font-family: "Frankito Sans", sans-serif;
    font-size: 40px;
    color: #FFF3B0;
}

h2 {
    font-family: "Frankito Sans Outline", sans-serif;
    font-weight: 900;
    color: #540B0E;
    cursor: pointer;
}

h3 {
    font-family: "Frankito Sans", sans-serif;
    color: #540B0E;
    text-transform: uppercase;
    margin: 0;
}

section {
    margin-bottom: 60px;
}

section:last-child {
    margin-bottom: 0px;
}

i {
    transition: 0.3s ease-in-out;
}

.menu-section {
    max-height: 900px;
    transition: max-height 0.4s ease-out;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-property: max-height;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: #540B0E solid 3px;
    margin-bottom: 40px;
    background-color: #ffffff79;
    padding: 20px 0px;
}

.menu-item:last-child {
    margin-bottom: 0px;
}

.col-1 {
    box-sizing: border-box;
    width: 170px;
    padding: 20px 0px 20px 20px;
}

.col-2 {
    box-sizing: border-box;
    width: 410px;
    padding: 0px 25px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.food-image {
    width: 140px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.food-description {
    font-family: "Maxx Medium", sans-serif;
    font-weight: normal;
    color: #335C67;
}

.price {
    font-family: "Frankito Sans Outline", sans-serif;
    color: #540B0E;
    font-size: 25px;
    margin-bottom: 20px;
}

button {
    border: none;
    background-color: #335C67;
    border-radius: 0px;
    width: 150px;
    height: 50px;
    color: #FFF3B0;
    font-size: 15px;
    font-family: "Frankito Sans", sans-serif;
    cursor: pointer;
    transition: 0.2s;
    box-sizing: border-box;
}

.order-button:hover,
.order-button:focus {
    background-color: #335c67bb;
}

.order-button:active {
    transform: translateY(1px);
}

.outline {
    font-family: "Frankito Sans Outline", sans-serif;
    font-size: 37px;
}

.hidden {
    opacity: 0;
    max-height: 0; /* OPTIONAL */
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-property: max-height;
}

.rotate {
    transform: rotate(-180deg);
}

.image-modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.image-modal-content {
    display: flex;
    height: 90%;
    padding-bottom: 20px;
  }

.shown {
    display: inline-block;
}

.img-close {
    position: fixed;
    z-index: 1; /* Sit on top */
    right: 20px;
    top: 20px;
    background-color: #540B0E;
}

.image-modal-content .img-responsive {
    object-fit: contain;
    width: 100%; /* 2 items per row, 100% / 2 = 50% */
    height: auto;
}

.modal-wrapper  {
    position:-webkit-sticky; position:sticky; bottom:0;
}

.cart-modal {
    box-sizing: border-box;
    bottom: 0;
    margin: 0 auto;
    width: 500px;
    background-color: #335C67;
    color: #FFF3B0;
    padding: 30px 30px 0px 30px;
    max-height: 500px;
    transition: all 0.3s ease-in-out;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    overflow-y: scroll;
    scrollbar-color: #FFF3B0;
}


.cart-modal-header{
    text-align: center;
    box-sizing: border-box;
    width: 500px;
    background-color: #335C67;
    margin: 0 auto;
    padding: 15px;
    border-bottom: 3px solid #FFF3B0;
    transition: all 0.3s ease-in-out;
}

.cart-modal-header:hover,
.cart-modal-header:focus    {
    background-color: #E09F3E;
}

.cart-modal-header-hidden {
    border: none;
    width: 300px;
    padding: 10px;
}

.cart-modal-header h3 {
    color: #FFF3B0;
}

.cart-modal-header h3:active {
    color: #FFF;
}

.ordered-items {
    text-align: left;
    border-bottom: #FFF3B0 3px solid;
    padding-bottom: 20px;
}

.ordered-item {
    display: flex;
    justify-content: space-between;
}

.ordered-item a {
    text-decoration: none;
    color: #E09F3E;
    font-size: 11px;
    padding-left: 15px;
    font-family: "Maxx Medium", sans-serif;
}

.total-items {
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-family: "Frankito Sans Outline", sans-serif;
    font-size: 25px;
}

.total-amount {
    font-family: "Frankito Sans", sans-serif;
}

.empty-cart {
    text-align: center;
    color: #E09F3E;
    font-size: 25px;
}

.cart-hidden {
    /* opacity: 0; */
    max-height: 0; /* OPTIONAL */
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition: padding 0.3s none 1s;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 0;
    width: 300px;
}